@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// box ui
.container{
  padding: 20px;
}
.box{
  padding: 20px;
  border: 1px solid #ebeef5;
  margin-bottom: 23px;
  .box-top{
    line-height: 32px;
    .top-left{
      display: inline-block;
    }
    .top-right{
      float: right;
    }
  }
  .box-content{
    margin-top: 15px;
    .form{
      .el-input{
        width: 203px;
      }
    }
  }
}
.edit-container{
  @extend .box;
  width: 1000px;
  margin: 20px auto;
  .edit-step{
    width: 600px;
    margin: 25px auto;
  }
  .edit-form{
    width: 800px;
    .form-btn{
      text-align: center;
    }
  }
}
.pagination-box{
  text-align: right;
  margin-top: 20px;
}
.detail-container{
  padding: 30px;
}

.input-number{
  input{
    padding-right: 0 !important;
  }
}
.el-cascader-node{
  .el-radio{
    .el-radio__input .el-radio__inner{
      border-color: #bbb !important;
    }
  }
}
.w-e-menu{
  z-index: unset !important;
}
.w-e-droplist{
  z-index: 10002;
}
.w-e-toolbar{
  flex-wrap: wrap;
}